#logo {
    width: 200px;
}
#log{
    width: 50px;
    height: 3000px;
}
.container-fluid {
    background-color: #cec7b6;
}
#search {
    background-color: #b3c9c1;
}
.d-flex {
    margin-bottom: 5px;
}
nav {
    padding: 0px;
}