.botonBusqueda {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.card {
    border-color: #001848;

}

.btn-primary {
    background-color: rgb(53, 49, 50);
}

#Centrogar {
    width: 200px;
}

#primerEmpleo {
    width: 125px;
}

#chat {
    width: 100px;
}