.btn {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#busqueda {
    background-color: ;
}

.botonBusqueda {
    background-color: white;
    color: black;
    border: 2px solid black;
}