#devSeekersIcon{
  width: 15rem;
  background-color: aliceblue;
  margin-right: 10px;
}

body{
  background-image: url(https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
}