#devSeekersIcon {
width: 15rem;
background-color: rgb(255, 255, 255);
margin-right: 10px;
}

.button {
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 10px;
background-color: white;
border-radius: 30px;
color: rgb(19, 19, 19);
font-weight: 600;
border: none;
position: relative;
cursor: pointer;
transition-duration: .2s;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
padding-left: 8px;
transition-duration: .5s;
}

.svgIcon {
height: 25px;
transition-duration: 1.5s;
}

.bell path {
fill: white;
}

.button:hover {
background-color: white;
transition-duration: .5s;
}

.button:active {
transform: scale(0.97);
transition-duration: .2s;
}

.button:hover .svgIcon {
transform: rotate(250deg);
transition-duration: 1.5s;
}

body{
  background-image: url(https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
}